<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>research.admin.loginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>research.admin.SignIn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>research.admin.SignUp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.varun.controller.UserController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DefectController</servlet-name>
    <servlet-class>com.varun.controller.DefectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DefectController</servlet-name>
    <url-pattern>/DefectController/*</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>24</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>